/* The following CSS was copied from the flux todo example:
 * https://github.com/facebook/flux/tree/master/examples
 */

html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('bg.png');
	color: #4d4d4d;
	// width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.tabbed-app-picker {
    background-color: #333;
    color: #999;
}

.tabbed-app-picker a:link {
    text-decoration: none;
    color: #999;
}

.tabbed-app-picker a:visited {
    text-decoration: none;
    color: #999;
}

.tabbed-app-picker span {
    padding-left: 3em;
}

.et-actions {
    width: 50%;
    height: 400px;
    background: white;
    position: fixed;
    right: 10px;
    overflow: scroll;
}
.et-box1 {
    background: red;
    padding: 1em;
    width: 150px;
    text-align: center;
    color: white;
}
.et-box2 {
    background: lightgreen;
    padding: 1em;
    color: black;
}
.et-box3 {
    background: blue;
    padding: 1em;
    color: white;
}
.et-box4 {
    background: black;
    width: 150px;
    padding: 1em;
    text-align: center;
    color: white;
}

.et-box5 {
    background: white;
    height: 100px;
    width: 150px;
    overflow: scroll;
}
